.panda-bg-color {
   background-color: #E9E4F0;
}

.panda-buy-now {
   background-color: #800080;
   color: white;
}

.panda-ctg-bg {
   background-color: #ACB6E5;
}

.panda-ctg-bg img {
   width: 100px;
}

.panda-ctg-bg2 {
   background-color: #D3CBB8;
}

.panda-ctg-bg2 img {
   width: 100px;
}

.panda-ctg-bg3 {
   background-color: #ec38bc;
}

.panda-ctg-bg3 img {
   width: 100px;
}